<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" {{#if htmlWebpackPlugin.files.manifest}} manifest="{{htmlWebpackPlugin.files.manifest}}"{{/if}}> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" {{#if htmlWebpackPlugin.files.manifest}} manifest="{{htmlWebpackPlugin.files.manifest}}"{{/if}}> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" {{#if htmlWebpackPlugin.files.manifest}} manifest="{{htmlWebpackPlugin.files.manifest}}"{{/if}}> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" {{#if htmlWebpackPlugin.files.manifest}} manifest="{{htmlWebpackPlugin.files.manifest}}"{{/if}}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" {{#if htmlWebpackPlugin.files.manifest}} manifest="{{htmlWebpackPlugin.files.manifest}}"{{/if}}> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{#if htmlWebpackPlugin.options.title }}{{htmlWebpackPlugin.options.title}}{{^}}Webpack App{{/if}}</title>

	{{#if (htmlWebpackPlugin.files.favicon) }}
	<link rel="shortcut icon" href="{{htmlWebpackPlugin.files.favicon}}">
	{{/if}}
	{{#if htmlWebpackPlugin.options.mobile}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{/if}}

	{{#each htmlWebpackPlugin.files.css as |css|}}
	<link href="{{css}}" rel="stylesheet">
	{{/each}}
</head>
<body>
{{#if htmlWebpackPlugin.options.unsupportedBrowser}}
<style>.unsupported-browser { display: none; }</style>
<div class="unsupported-browser">
	Sorry, your browser is not supported.  Please upgrade to
	the latest version or switch your browser to use this site.
	See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a>
	for options.
</div>
{{/if}}

{{#if htmlWebpackPlugin.options.appMountId}}
<div id="<%= htmlWebpackPlugin.options.appMountId%>"></div>
{{/if}}

{{#if htmlWebpackPlugin.options.appMountIds}}
{{#if htmlWebpackPlugin.options.appMountIds.length}}
{{#each htmlWebpackPlugin.options.appMountIds as |mount|}}
<div id="{{mount}}"></div>
{{/each}}
{{/if}}
{{/if}}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/sinon.js/1.15.4/sinon.min.js"></script>

{{#if htmlWebpackPlugin.options.window}}
<script>
	{{#each htmlWebpackPlugin.options.window as |vari|}}
		window['{{@key}}'] = {{vari}};
	{{/each}}
</script>
{{/if}}

{{#each htmlWebpackPlugin.files.chunks as |chunk|}}
<script type="text/javascript" src="{{chunk.entry}}"></script>
{{/each}}

{{#if htmlWebpackPlugin.options.devServer}}
<script src="{{htmlWebpackPlugin.options.devServer}}/webpack-dev-server.js"></script>
{{/if}}

{{#if htmlWebpackPlugin.options.googleAnalytics}}
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	{{#if htmlWebpackPlugin.options.googleAnalytics.trackingId}}
		ga('create', '{{htmlWebpackPlugin.options.googleAnalytics.trackingId}}', 'auto');
	{{^}}
		throw new Error("html-webpack-template requires googleAnalytics.trackingId config");
	{{/if}}
	{{#if htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad}}
		ga('send', 'pageview');
	{{/if}}
</script>
{{/if}}

</body>
</html>